.footer{
        height: auto;
        width: 100%;
        display: flex;
        padding: 10px;
        background-color: #474546;
        color: #fff;
        text-decoration: none;
        font-family: var(--font-raleway-regular);
        size: 10px;
}
.logo-instagram{
        position: absolute;
        width: auto;
        height: auto;
        padding-top: -100px;
        padding-left: 80px;
}
footer {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: #474546;
        color: #fff;
        text-decoration: none;
}

.logo-facebook {
        position: absolute;
        width: auto;
        height: auto;
        padding-top: -100px;
        padding-left: 125px;
}
.logo-twitter {
        position: absolute;
        width: auto;
        height: auto;
        padding-top: -100px;
        padding-left: 150px;
}